<div class="container">
  <aside>
    <img src="./img/david.jpg" alt="Portrait of Reucov Dávid, a Junior Full Stack Developer" class="avatar">
    <div>
      <h1 class="name">Reucov Dávid</h1>
      <h2>Junior Full Stack Developer</h2>
      <small>Budapest, Hungary</small>
    </div>
    <h2>Contact Information</h2>
    <div class="contacts">
      <a target="_blank" href="mailto:reucovdavid@gmail.com">reucovdavid&#64;gmail.com</a>
      <a target="_blank" href="tel:+36203563564">+36 20 356 3564</a>
      <a target="_blank" href="https://linkedin.com/in/reucov-david">https://linkedin.com/in/reucov-david</a>
    </div>

    <h2>Skills</h2>
    <h3>Frontend</h3>
    <ul>
      <li>HTML</li>
      <li>CSS</li>
      <li>JavaScript</li>
      <li>React 16+</li>
      <li>React Native</li>
      <li>Vue.js 3+</li>
      <li>Angular 18+</li>
      <li>Svelte 4+</li>
    </ul>
    <h3>Backend</h3>
    <ul>
      <li>TypeScript</li>
      <li>Next.js 13+</li>
      <li>PHP 7+</li>
      <li>Laravel 10+</li>
      <li>Nuxt 3+</li>
      <li>MySQL</li>
      <li>PostgreSQL</li>
      <li>REST API</li>
      <li>Kotlin (Java-based)</li>
    </ul>
    <h3>Content Management Systems</h3>
    <ul>
      <li>WordPress</li>
      <li>Strapi CMS</li>
      <li>WHMCS</li>
    </ul>
    <h3>Hosting & DevOps</h3>
    <ul>
      <li>Digital Ocean</li>
      <li>VPS (Ubuntu, Debian)</li>
      <li>Docker</li>
    </ul>
    <h3>Designer Tools</h3>
    <ul>
      <li>Figma</li>
      <li>Canva</li>
    </ul>
  </aside>
  <main>
    <h1>Summary</h1>
    <div class="summary">
      <h1>Frontend Developer | Backend Developer | Designer | Mobile Application Teacher</h1>
      <p>Proficient in building reliable, scalable full-stack websites.</p>
      <p>Experienced in all workflows involved in creating web-based software.</p>
      <p>Gained experience in tutoring and leadership as a part-time teacher, specializing in mobile development technologies, including Kotlin and React Native.</p>
    </div>
    <hr />
    <h1>Work Experience</h1>
    <div>
      <h3 class="title">Junior Full Stack Developer (Full-time)</h3>
      <h4>TOPiN-HUB Kft.</h4>
      <h4>January 2024 – Present</h4>
      <small>Budapest, Hungary – Full Remote</small>
      <ul>
        <li>Developed a German car washing website with an administration system. (<a target="_blank" href="https://vor-ort-autopflege.de">https://vor-ort-autopflege.de</a>)</li>
        <li>Collaborated on developing Hungary's largest wine and winery-related website. (<a target="_blank" href="https://borindex.hu">https://borindex.hu</a>)</li>
        <li>Refactored the company's website. (<a target="_blank" href="https://topin.hu">https://topin.hu</a>)</li>
        <li>Developed a Hungarian construction website. (<a target="_blank" href="https://havalda.com">https://havalda.com</a>)</li>
        <li>Developed a British non-profit veterinary care website. (<a target="_blank" href="https://animaltrust.org.uk">https://animaltrust.org.uk</a>)</li>
      </ul>
    </div>
    <div>
      <h3 class="title">Kotlin & React Native Tutor / Teacher (Part-time)</h3>
      <h4>BKSZC Weiss Manfréd Technikum, Szakképző Iskola és Kollégium</h4>
      <h4>September 2024 – Present</h4>
      <small>Budapest, Hungary – On-site</small>
      <ul>
        <li>Teaching 30 students mobile application development for 8 hours per week.</li>
        <li>Teaching mobile application design patterns and best practices in Kotlin and React Native.</li>
        <li>Assisting students with their theses and technical challenges.</li>
        <li>Gaining knowledge in teaching, tutoring, and leadership skills.</li>
      </ul>
    </div>
  </main>
</div>
<router-outlet />
