<div class="container">
  <aside>
    <img src="assets/img/david.jpg" alt="Reucov Dávid, Junior Full Stack Fejlesztő portréja" class="avatar">
    <div>
      <h1 class="name">Reucov Dávid</h1>
      <h2>Junior Full Stack Fejlesztő</h2>
      <small>Budapest, Magyarország</small>
    </div>
    <h2>Elérhetőség</h2>
    <div class="contacts">
      <a target="_blank" href="mailto:reucovdavid@gmail.com">reucovdavid&#64;gmail.com</a>
      <a target="_blank" href="tel:+36203563564">+36 20 356 3564</a>
      <a target="_blank" href="https://linkedin.com/in/reucov-david">https://linkedin.com/in/reucov-david</a>
    </div>

    <h2>Készségek</h2>
    <h3>Frontend</h3>
    <ul>
      <li>HTML</li>
      <li>CSS</li>
      <li>JavaScript</li>
      <li>React 16+</li>
      <li>React Native</li>
      <li>Vue.js 3+</li>
      <li>Angular 18+</li>
      <li>Svelte 4+</li>
    </ul>
    <h3>Backend</h3>
    <ul>
      <li>TypeScript</li>
      <li>Next.js 13+</li>
      <li>PHP 7+</li>
      <li>Laravel 10+</li>
      <li>Nuxt 3+</li>
      <li>MySQL</li>
      <li>PostgreSQL</li>
      <li>REST API</li>
      <li>Kotlin (Java alapú)</li>
    </ul>
    <h3>Tartalomkezelő rendszerek</h3>
    <ul>
      <li>WordPress</li>
      <li>Strapi CMS</li>
      <li>WHMCS</li>
    </ul>
    <h3>Tárhely & DevOps</h3>
    <ul>
      <li>Digital Ocean</li>
      <li>VPS (Ubuntu, Debian)</li>
      <li>Docker</li>
    </ul>
    <h3>Design Eszközök</h3>
    <ul>
      <li>Figma</li>
      <li>Canva</li>
    </ul>
  </aside>
  <main>
    <h1>Összegzés</h1>
    <div class="summary">
      <h1>Frontend Fejlesztő | Backend Fejlesztő | Designer | Mobilalkalmazás Tanár</h1>
      <p>Megbízható, skálázható full-stack weboldalak építésében jártas.</p>
      <p>Tapasztalt a webalapú szoftverek létrehozásának minden munkafolyamatában.</p>
      <p>Részmunkaidős tanárként szerzett tapasztalatot oktatásban és vezetésben, mobilfejlesztési technológiákra specializálódva, beleértve a Kotlin-t és a React Native-t.</p>
    </div>
    <hr />
    <h1>Tapasztalat</h1>
    <div>
      <h3 class="title">Junior Full Stack Fejlesztő (Teljes munkaidő)</h3>
      <h4>TOPiN-HUB Kft.</h4>
      <h4>2024 Január – Jelenleg</h4>
      <small>Budapest, Magyarország – Teljesen Remote</small>
      <ul>
        <li>Fejlesztett egy német autómosó weboldalt adminisztrációs rendszerrel. (<a target="_blank" href="https://vor-ort-autopflege.de">https://vor-ort-autopflege.de</a>)</li>
        <li>Együttműködés Magyarország legnagyobb bor- és borászat témájú weboldalának fejlesztésében. (<a target="_blank" href="https://borindex.hu">https://borindex.hu</a>)</li>
        <li>A cég weboldalának refaktorálása. (<a target="_blank" href="https://topin.hu">https://topin.hu</a>)</li>
        <li>Magyar építőipari weboldal fejlesztése. (<a target="_blank" href="https://havalda.com">https://havalda.com</a>)</li>
        <li>Brit nonprofit állatorvosi ellátás weboldalának fejlesztése. (<a target="_blank" href="https://animaltrust.org.uk">https://animaltrust.org.uk</a>)</li>
      </ul>
    </div>
    <div>
      <h3 class="title">Kotlin & React Native Oktató / Tanár (Részmunkaidő)</h3>
      <h4>BKSZC Weiss Manfréd Technikum, Szakképző Iskola és Kollégium</h4>
      <h4>2024 Szeptember – Jelenleg</h4>
      <small>Budapest, Magyarország – Helyszíni</small>
      <ul>
        <li>30 diákot tanít heti 8 órában mobilalkalmazás fejlesztésre.</li>
        <li>Mobilalkalmazás tervezési minták és legjobb gyakorlatok oktatása Kotlin és React Native segítségével.</li>
        <li>Diákok támogatása szakdolgozataikban és technikai problémáikban.</li>
        <li>Oktatási, tanácsadási és vezetői készségek fejlesztése.</li>
      </ul>
    </div>
  </main>
</div>
<router-outlet />
